@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.add {
  position: relative;
  border: 4px solid #5e217a;
  width: 240px;
  border-radius: 16px;
  height: 240px;
  transition: cubic-bezier(1, 0, 0, 1), 0.2s;
  margin: 20px;
}

.add:hover {
  cursor: pointer;
  background-color: #5e217ace;
}

.add:hover:before,
.add:hover:after {
  border-color: white;
}

.add::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 0px;
  left: 72px;
  top: 112px;
  border: 4px solid #5e217a;
}

.add::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 0px;
  left: 72px;
  top: 112px;
  border: 4px solid #5e217a;
  transform: rotate(90deg);
}

.avatar {
  cursor: pointer;
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 16px;
  margin: 20px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  background: #5e217a57;
}

.avatar__refresh {
  cursor: pointer;
  visibility: hidden;
  content: '';
  position: absolute;
  top: 90px;
  left: 90px;
  width: 100px;
  height: 100px;
  z-index: 11;
  background: url('./assets/001-refresh.svg') no-repeat center;
  background-size: contain;
}

.avatar__refresh:hover {
  visibility: visible;
}

.avatar:hover ~ .avatar__refresh {
  visibility: visible;
}

.avatar__container {
  position: relative;
}

.button {
  width: 320px;
  height: 40px;
  background: #5e217a;
  border-radius: 6px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.down-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 11;
}
