<div class="sidenav__overlay"></div>
<nav class="sidenav__real-menu" role="navigation">
  <a class="sidenav__close-menu-btn"></a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about.html">About</a></li>
  </ul>
</nav>
