<div class="sidenav__overlay"></div>
<nav class="sidenav__real-menu" role="navigation">
  <div class="sidenav__close-menu-btn-container">
    <div class="sidenav__close-menu-btn"></div>
  </div>
  <ul>
    <li><a class="test" href="/">Home</a></li>
    <li><a href="/about.html">About</a></li>
  </ul>
</nav>
