.container {
    max-width: 1360px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.header__photo {
    height: 200px;
    width: auto;
    border-radius: 50%;
    box-shadow: #747a7a 1px 0 10px;
}

.header__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #757b7b;
    text-shadow: #747a7a 1px 0 6px;
}

.header__title {
    width: max-content;
    border-bottom: 2px solid;
    text-transform: uppercase;
    font-size: 54px;
    margin-bottom: 20px;
}

.header__desc {
    font-size: 28px;
}

.button__contants {
    display: none;
    background: transparent;
    color: #757b7b;
    font-size: 18px;
    text-shadow: #747a7a 1px 0 6px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.button__contants:hover {
    opacity: 0.8;
    border-bottom: 1px solid #757b7b;
}

.content__background {
    background: #d3d4d6;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 30px;
    padding: 0 20px;
}

.block {
    background: white;
    padding: 20px;
    color: #595f5f;
    box-shadow: 0 2px 7px 0 #747a7a;

}

.block__header {
    border-bottom: 2px solid;
    font-size: 24px;
}

.contacts__container {
    margin-bottom: 30px;
}

.contacts__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    padding: 20px 0;
}

.contacts__block {
    display: flex;
}

.contacts__icon {
    width: 44px;
    height: auto;
    margin-right: 16px;
}

.contacts__text {
    font-size: 20px;
}

.contacts__inf {
    text-decoration: none;
    display: inline-block;
    margin: 0;
}

.contacts__inf:after {
    display: block;
    content: "";
    border-bottom: solid 2px #757b7b;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}

.contacts__inf:hover:after {
    transform: scaleX(1);
}
.qualities__container {
    margin-bottom: 30px;
}
.portfolio__content {
    display: grid;
    grid-gap: 20px;
}
.portfolio__view {
    float: left;
    border: 10px solid #DCAC89;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: pointer;
}
.portfolio__view .portfolio__mask{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.portfolio__view .portfolio__photo {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
.portfolio__view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 20px;
    padding: 10px;
}
.portfolio__view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 16px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}

.portfolio__view .portfolio__photo{
    transition: all 0.4s ease-in-out 0.5s;
}
.portfolio__view .portfolio__mask {
    background-color: rgba(146,96,91,0.5);
    opacity: 0;
    transition: all 0.3s ease-in 0.4s;
}
.portfolio__view h2 {
    opacity: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(10);
    transition: all 0.3s ease-in-out 0.1s;
}
.portfolio__view p {
    opacity: 0;
    transform: scale(10);
    transition: all 0.3s ease-in-out 0.2s;
}
.portfolio__view:hover .portfolio__mask {
    opacity: 1;
    transition-delay: 0s;
}
.portfolio__view:hover .portfolio__photo {
    transition-delay: 0s;
}
.portfolio__view:hover h2 {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.1s;
}
.portfolio__view:hover p {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.2s;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
}

.main .block {
    opacity: 0.8;
    transition: transform 0.4s linear;
    cursor: pointer;

}

.main .block:hover {
    transition: transform 0.4s linear;
    transform: scale(1.02);
    opacity: 1;
}

.section__content {
    padding: 20px 0;
    font-size: 20px;
}

.section__list {
    margin-left: 20px;
    list-style: square;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

footer {
    padding: 20px 0;
    text-align: center;
    color: #757b7b;
    font-size: 18px;
    font-weight: bold;
}

#btn-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #a04d4d;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
    font-size: 18px;
}

#btn-top:hover {
    background-color: #555;
}

@media (max-width: 1024px) {
    .header {
        padding: 20px 40px;
    }

    .header__photo {
        height: 150px;
    }

    .header__title {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .content {
        grid-template-columns: 1fr;
        grid-template-areas: "main" "aside";
        padding: 0 40px;
    }
    .main {
        grid-area: main;
    }
    .aside {
        grid-area: aside;
    }
}

@media (max-width: 599px) {
    .container {
        padding: 20px;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .header__photo {
        height: 130px;
        border-radius: 2px;
        margin-bottom: 10px;
    }

    .header__title {
        font-size: 32px;
    }

    .header__desc {
        font-size: 18px;
    }

    .button__contants {
        display: block;
    }

    .content__background {
        padding: 0;
    }

    .contacts__container {
        display: none;
        opacity: 1;
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        top: 314px;
        background: #d2b2b2;
    }

    .contacts__list {
        padding: 10px 0;
    }

    .contacts__text {
        font-size: 14px;
    }

    .contacts__icon {
        width: 24px;
    }

    .block__header {
        font-size: 18px;
    }

    .section__content {
        font-size: 14px;
    }
}
