html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    font-size: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, .3);
}

.wrapper {
    text-align: justify;
    font-size: 2rem;
    margin: 0;
    padding: 5px;
}

.modal {
    position: fixed;
    font-size: 2rem;
    padding: 10px;
    max-height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 1rem;
    overflow-y: auto;
    text-align: right;
}

.modal__content {
    text-align: justify;
}

.modal__header {
    margin: 0;
    font-size: 2.8rem;
    text-align: left;
}

.modal__button {
    background: #5598ee;
    border-radius: 5px;
    padding: 8px;
}

@media (max-width: 600px) {
    .modal {
        margin-top: 10px;
        max-height: 95%;
        width: 80%;
        background-color: #ffffff;
        border-radius: 1rem;
        overflow-y: auto;
        text-align: right;
        font-size: 1.4rem;
    }

    .modal__header {
        font-size: 2rem;
        text-align: left;
    }

    .wrapper {
        font-size: 1.4rem;
    }

    .modal__button {
        padding: 5px;
        font-size: 1rem;
    }
}