* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  background-color: khaki;
  width: 23vw;
  padding: 18vw 2vw 3vw 3vw;
  clip-path: ellipse(100% 100% at 0% 50%);
}

h3 {
  margin: 1.5rem 0 0 5rem;
  text-align: center;
}

h2,
p {
  margin: 1rem 0;
}

h1 {
  text-align: center;
}

i {
  background-color: khaki;
}

header {
  background-color: rgb(59, 55, 20);
  color: khaki;
  padding: 1vw 3vw 2vw 3vw;
  text-align: center;
}

.contacts,
.skills {
  color: rgb(59, 55, 20);
  font-weight: bolder;
}

.contacts > ul {
  list-style: none;
  margin: 1rem 0;
}

.skills > ul {
  list-style: square;
  margin: 4rem 0 1rem 0;
}

li {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: rgb(59, 55, 20);
  font-weight: bolder;
}

main {
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
  padding: 6vh 3vw;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(59, 55, 20);
}

.wrap > h3 {
  margin-bottom: 5vh;
}

.wrap > .line {
  margin-bottom: 5vh;
}

article > h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

footer {
  text-align: center;
  background-color: rgb(59, 55, 20);
  height: 8vh;
}

footer > p {
  margin: 0 auto;
  padding-top: 2vh;
  color: khaki;
}

.line {
  background-color: khaki;
  width: 70vw;
  height: 1vh;
}
