* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li, header {
    background-color: #f1f1f1;
    align-items: center;
    margin: 10px 0px;
    padding: 10px 0px;
}

header {
    height: 10vh;
    padding: 20px 30px;
}

div, h1 {
    display: inline;
    margin: 0 auto;
}

nav>div {
    margin-left: 85%;
    padding-top: -20px;
}



aside {
    width: 200px;
    float: left;
}

section {
    width: 800px;
    margin-left: 210px;
}

article {
    float: left;
    width: calc(100% / 3);
}

hr, footer {
clear: both;
}

ul {
    list-style-type: none;
}

a {
    color: #000;
    margin: 0px 20px 50px 20px;
    padding-bottom: 20px;
}

footer>p {
    margin: 0 auto;
    text-align: center;
}