* {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    color: #373741;
    margin: 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
}

.title {
    width: 200px;
    height: 20px;
    font-size: 1.8rem;
    background: #5c2020;
    color: #f8d9c4;
    text-align: left;
    padding-left: 10px;
}

.contacts__title {
    width: 150px;
}

.sidebar {
    background-color: #f8d9c4;
    width: 400px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cv__photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #5c2020;
}

.contact__item {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 10px 0;
}

.contact__item a {
    font-size: 1.4rem;
}

.main-info {
    width: 600px;
}

.main-info article, section {
    margin-left: 20px;
}

.header__name{
    font-size: 3.2rem;
    color: #e1d8cf;
}

.education__period {
    font-size: 1.8rem;
}

.education__university-name {
    font-weight: 700;
    font-size: 1.8rem;
}

.education__faculty-name, .education__speciality {
    font-size: 1.6rem;
    font-style: italic;
}

.skills__item {
    font-size: 1.6rem;
}

.project__name {
    font-size: 1.8rem;
}

.project__description, .project__source-code {
    font-style: italic;
    font-size: 1.6rem;
}

.project__technologies {
    font-weight: 600;
    font-size: 1.4rem;
}

.hobby__item {
    font-size: 1.6rem;
}