
extends page.pug
block content
    .wrapper
      .text
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aliquam labore ipsa obcaecati!
          | Repellendus sequi minus magni ipsum voluptatum asperiores. Aperiam commodi voluptatum nihil iusto optio
          | quod eos fugiat sed. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci dolorem,
          | provident maxime deserunt ratione voluptate magnam qui possimus, illum minus a quas explicabo ipsum
          | ducimus assumenda perspiciatis cumque vero labore.
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aliquam labore ipsa obcaecati!
          | Repellendus sequi minus magni ipsum voluptatum asperiores. Aperiam commodi voluptatum nihil iusto optio
          | quod eos fugiat sed. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci dolorem,
          | provident maxime deserunt ratione voluptate magnam qui possimus, illum minus a quas explicabo ipsum
          | ducimus assumenda perspiciatis cumque vero labore.
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aliquam labore ipsa obcaecati!
          | Repellendus sequi minus magni ipsum voluptatum asperiores. Aperiam commodi voluptatum nihil iusto optio
          | quod eos fugiat sed. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci dolorem,
          | provident maxime deserunt ratione voluptate magnam qui possimus, illum minus a quas explicabo ipsum
          | ducimus assumenda perspiciatis cumque vero labore.
        button#modal__open.modal__open Open modal!
      #modal.modal
        .modal__container
          .modal__text
            .close ×
            h1.modal__title Hello world!
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aliquam labore ipsa obcaecati!
              | Repellendus sequi minus magni ipsum voluptatum asperiores. Aperiam commodi voluptatum nihil
              | iusto optio
              | quod eos fugiat sed.
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aliquam labore ipsa obcaecati!
              | Repellendus sequi minus magni ipsum voluptatum asperiores. Aperiam commodi voluptatum nihil
              | iusto optio
              | quod eos fugiat sed.
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aliquam labore ipsa obcaecati!
              | Repellendus sequi minus magni ipsum voluptatum asperiores. Aperiam commodi voluptatum nihil
              | iusto optio
              | quod eos fugiat sed.
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aliquam labore ipsa obcaecati!
              | Repellendus sequi minus magni ipsum voluptatum asperiores. Aperiam commodi voluptatum nihil
              | iusto optio
              | quod eos fugiat sed.
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aliquam labore ipsa obcaecati!
              | Repellendus sequi minus magni ipsum voluptatum asperiores. Aperiam commodi voluptatum nihil
              | iusto optio
              | quod eos fugiat sed.
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aliquam labore ipsa obcaecati!
              | Repellendus sequi minus magni ipsum voluptatum asperiores. Aperiam commodi voluptatum nihil
              | iusto optio
              | quod eos fugiat sed.
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aliquam labore ipsa obcaecati!
              | Repellendus sequi minus magni ipsum voluptatum asperiores. Aperiam commodi voluptatum nihil
              | iusto optio
              | quod eos fugiat sed.
