* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    gap: 3rem;   
    grid-template-areas:
    "header header" 
    "side mn" 
    "footer footer"     
}

.header {   
    width: 100vw; 
    grid-area: header;
    display: flex;
    justify-content: space-around;
}
  
.mn {   
    padding: 3rem;      
    grid-area: mn;
}
  
.side {    
    grid-area: side;
}
  
.footer {  
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(7, 58, 26);
    color:  rgb(119, 224, 243);
    grid-area: footer;
}
  
.logo {
    margin: 3rem 3rem;
}

.logo>i {
    font-size:50px;
    margin-left: -8vw;
    margin-top: -4vh;
    float: left; width: 15vw;
    background-color: rgb(7, 58, 26);
    color:  rgb(119, 224, 243);
    border-radius: 0.5rem;
}

.logo>h1 {
    font-size: 3rem;
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 4rem;
    color: rgb(7, 58, 26);
    text-align: center;
}

.logo>h2 {
    margin-left: 4rem;
    padding: 1rem 0;
    color: rgb(119, 224, 243);
    background-color: rgb(7, 58, 26);
    text-align: center;
    border-radius: 0.5rem;
}  

nav {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(7, 58, 26);
}

nav>a {
    text-decoration: none;
    padding: 1rem;
    color: rgb(7, 58, 26);
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 0.5rem;
}

section, .experience_article, p, h3 {
    margin-top: 5vh;
}

.mn>section {
    padding: 2rem;
    color: rgb(7, 58, 26);
    background-color: rgba(119, 224, 243, 0.2);
    border-radius: 0.5rem;
}

.top {
    display: none;
}

.side>section {
    margin-top: 14rem;
    margin-left: 2rem;
    padding: 2rem 0;
    font-size: 1.3rem;
}

.side>section>h3 {
    padding: 1rem 0;
    color: rgb(119, 224, 243);
    background-color: rgb(7, 58, 26);
    text-align: center;
    border-radius: 0.5rem;
}

li {
    margin-top: 1rem;
    color:rgb(7, 58, 26);
    font-weight: bolder;
}

.contacts>ul {
    list-style: none;
    margin: 1rem 0;
}

.skills>ul {
    list-style:square; 
}

a {
    text-decoration: none;
    color:rgb(7, 58, 26);
}

@media (max-width: 600px) {    

    .container {
        font-size: xx-small;
        text-align: center;
        display: grid;
        margin: 0 auto;
        grid-template-areas:
        "header " 
        "side"
        "mn" 
        "footer"     
    }

    .header {
        position: sticky;
        top: 0px;
        background-color: rgba(255, 255, 255, 1);
        z-index: 3;
        height: 35vh;    
    }

    .top {
        text-decoration: none;
        display: block;
        position: fixed;
        right: 18vw;
        bottom: 18vh;
        font-weight: 600;
        color: rgb(119, 224, 243);
        background-color: rgb(7, 58, 26);
        border-radius: 0.5rem;
        z-index: 5;
    }

    .side {
        margin-top: 1rem;
        font-size: smaller;
    }

    .mn {
        width: 95%;       
        padding: 0.3rem;
    }

    nav {
        display: none;
    }

    .burger {
        margin-top: 1.2rem;
        display: block;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        background-color: rgb(7, 58, 26);
        border-radius: 0.5rem;
        cursor: pointer;
    }

    .burger_line {
        display: inline-block;
        height: 5px;
        width: 40px;
        margin: 2px auto;
        background-color: rgb(255, 255, 255);       
    }

}



@media (max-width: 1024px) and (min-width: 600px) {    

    .container {
        font-size: x-small;
        text-align: center;
        gap: 1rem;
    }

    .header {
        position: sticky;
        top: 0px;
        background-color: rgba(255, 255, 255, 1);
        z-index: 3;
        height: 30vh;    
    }

    .top {
        text-decoration: none;
        display: block;
        position: fixed;
        right: 18vw;
        bottom: 18vh;
        font-weight: 600;
        color: rgb(119, 224, 243);
        background-color: rgb(7, 58, 26);
        border-radius: 0.5rem;
        z-index: 5;
    }

    .side {
        margin-top: 1rem;
        font-size: smaller;
    }

    .mn {
        width: 95%;       
        padding: 0.3rem;
    }

    nav {
        display: none;
    }

    .burger {
        margin-top: 1.2rem;
        display: block;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        background-color: rgb(7, 58, 26);
        border-radius: 0.5rem;
        cursor: pointer;
    }

    .burger_line {
        display: inline-block;
        height: 5px;
        width: 40px;
        margin: 2px auto;
        background-color: rgb(255, 255, 255);       
    }

}