{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "rules": {
    "no-console": "off",
    "no-prototype-builtins": "off",
    "no-underscore-dangle": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
