@media screen and (min-width: 600px) and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    padding: 0;
    grid-template-areas:
      "header header header"
      "aside aside aside"
      "gallery gallery gallery"
      "main main main";
  }

  .header__name {
    width: 100%;
    word-wrap: break-word;
  }

  .side {
    width: 100%;
    text-align: center;
  }

  .side-list__inner > li {
    margin: 0;
  }
}
