@import "mobile.css";
@import "tablet.css";
@import "laptop.css";

@media (max-width: 460px) {
    .container {
        grid-template-rows: 12rem 70rem 130rem;
    }

    .header__title {
        font-size: 2rem;
        line-height: 2rem;
        margin-left: 20px;
    }

    .avatar-container {
        width: 100px;
        height: 100px;
        background: url(./img/avatar.jpg) no-repeat -51px -51px;
        background-size: auto 250px;
    }

    .skill-lists__item {
        flex-direction: column;
    }

    .skill-lists__item {
        font-size: 1rem;
    }
}