@media (max-width: 1200px) {
    .left-side__container {
        margin-left: 50px;
    }

    .contacts__title {
        margin-left: 0;
    }

    .portfolio {
        margin-left: 50px;
    }

    .portfolio__img {
        width: 270px;
        height: 180px;
    }

    .portfolio__mask {
        width: 270px;
        height: 180px;
    }
}