@import "tablet.css";
@import "laptop.css";

@media (max-width: 600px) {
    .header__title {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-left: 20px;
    }
    
    .header__sub-title {
        margin-left: 20px;
        font-size: 1rem;
    }

    .avatar-container {
        width: 120px;
        height: 120px;
        background: url(./img/avatar.jpg) no-repeat -51px -51px;
        background-size: auto 270px;
    }

    .header__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        background-color: #2d2d2d;
    }

    .header__burger-menu {
        display: inline-block;
    }

    .header__menu-line1.header__menu-line1, .header__menu-line2, .header__menu-line3 {
        width: 35px;
        height: 3px;
        background-color: rgb(247, 243, 233);
        margin: 6px 0;
        transition: 0.4s;
    }

    .header__burger-menu:hover .header__menu-line1 {
        transform: rotate(45deg) translateY(12px);
    }

    .header__burger-menu:hover .header__menu-line2 {
        opacity: 0;
    }

    .header__burger-menu:hover .header__menu-line3 {
        transform: rotate(-45deg) translateY(-13px);
    }

    .left-side__container {
        margin-left: 20px;
    }

    .title-right {
        margin-left: 20px;
    }

    .skill-lists {
        margin-left: 20px;
        margin-right: 20px;
    }

    .description {
        margin-left: 20px;
    }

    .skill-lists__item {
        font-size: 0.8rem;
    }

    .scroll-button {
        width: 70px;
        height: 70px;
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border: none;
        outline: none;
    }

    .scroll-button__img {
        width: 50px;
        height: 50px;
    }

    .scroll-button:hover {
        animation: up 2s infinite;
        cursor: pointer;
    }

    @keyframes up {
        0%,  
        100% {
           transform: translateY(0);
        } 
        50% {
            transform: translateY(10px);
        }
    }
}