.aside {
  background-color: var(--main-bg-color-alt);
  width: 35%;
  padding: 1rem 3rem 1rem 2rem;
  text-align: end;
}

.side-list__outer > li {
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.side-list__inner > li {
  text-transform: capitalize;
  margin: 0.7rem 0 0 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.side-list__email {
  text-transform: lowercase;
}
