/* main, desktop */
.wrapper {
  padding: 0 20%;
}

/* tablet */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .header__name {
    width: 100%;
    word-wrap: break-word;
  }

  .side {
    width: 100%;
    text-align: center;
  }

  .wrapper {
    flex-direction: column;
    padding: 0;
    grid-template-areas:
      "header header header"
      "aside aside aside"
      "main main main";
  }
}

/* mobile */
@media (max-width: 600px) {
  .side {
    width: 100%;
    text-align: center;
  }

  .wrapper {
    padding: 0;
    flex-direction: column;
    grid-template-areas:
      "header header header"
      "aside aside aside"
      "main main main";
  }

  .header {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 1rem 1rem 3rem 1rem;
  }

  .header__name {
    width: 100%;
    word-wrap: break-word;
    font-size: 1.3rem;
  }

  .header__position {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
  }

  .side-list__outer {
    display: none;
  }

  .side__toggle {
    display: block;
    width: 0px;
  }

  .side__toggle::after {
    content: "DETAILS";
    font-weight: bold;
    text-align: center;
    height: 20px;
    position: absolute;
    left: 45%;
    z-index: 33;
  }

  .side__toggle:hover {
    color: red;
  }

  .side__toggle:checked ~ .side-list__outer {
    display: block;
  }

  .scroll-to-top {
    display: block;
  }
}
