body {
  font-family: sans-serif;
  background-color: beige;
}

h2 {
  font-size: 1rem;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 1rem;
}

.error-msg {
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  background-color: lightpink;
  align-items: center;
  padding: 20px;
}
