@media (max-width: 1024px) {
	body {
		padding: 30px 0 60px 0;
	}

	.box__inner {
		grid-template:
			"sidebar header" auto
			"sidebar main" auto
			/ 240px auto;
	}

	.container {
		padding: 0 10px;
	}

	.aside__inner {
		padding: 40px 5px;
	}

	.info-table {
		font-size: 14px;
	}

	.interests {
		padding: 30px 15px 20px 15px;
		margin: auto -5px -40px -5px;
	}

	.header {
		padding: 40px 10px;
	}

	.title {
		font-size: 30px;
	}

	.subtitle {
		font-size: 20px;
	}

	main {
		padding: 20px 10px;
	}

	.timeline__left {
		width: 30%;
	}

	.timeline__right {
		flex: 1;
	}

	.timeline_done::before {
		left: 30%;
	}

	.timeline__item::after {
		left: 30%;
	}
}
