* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: Courier New;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-rows: 300px 1fr 30px;
  grid-template-columns: 300px 1fr;
  box-shadow: 0 0 10px rgba(133, 133, 133, 0.5);
}

.header__wrapper {
  grid-area: header;
  background-color: rgb(248, 248, 248);
  display: grid;
  width: 100%;
  grid-template-areas: "image info";
  grid-template-rows: 1fr;
  grid-template-columns: 300px 1fr;
}

.header__info {
  grid-area: info;
  text-align: center;
  margin: 50px;
}

.header__img {
  grid-area: image;
  width: 200px;
  height: 200px;
  margin: 40px;
}

.header__text {
  background-color: rgb(202 199 212);
}

.header__photo {
  border: 2px solid rgb(202, 191, 191);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aside {
  grid-area: aside;
  background-color: rgb(202 199 212);
}

.aside__contact {
  margin-top: 20px;
  padding: 20px;
}

.aside__info {
  margin: 20px;
}

.main {
  grid-area: main;
  margin: 30px;
}

.main__info {
  margin-top: 20px;
}

.main__title {
  font-weight: bold;
}

.main__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.main__certificates {
  margin-top: 50px;
}

.main__skills {
  margin-top: 50px;
}

.main__lang {
  margin-top: 50px;
}

.main__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin: 15px;
}

.main__txt {
  flex-grow: 1;
}

.main__head {
  position: relative;
  width: 100%;
  display: inline-block;
  z-index: 1;
  position: relative;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.main__head:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  background-color: rgb(202 199 212);
  height: 8px;
  top: 8px;
  z-index: -1;
}

.main__html {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid rgb(202 199 212);
  border-left: 50px solid rgb(202 199 212);
  border-bottom: 50px solid rgb(202 199 212);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgb(235, 228, 228);
  transform: rotate(-45deg);
}

.main__css {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid rgb(202 199 212);
  border-left: 50px solid rgb(202 199 212);
  border-bottom: 50px solid rgb(202 199 212);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgb(235, 228, 228);
  transform: rotate(-45deg);
}
.main__js {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid rgb(202 199 212);
  border-left: 50px solid rgb(202 199 212);
  border-bottom: 50px solid transparent;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgb(235, 228, 228);
  transform: rotate(-45deg);
}

.main__php {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid rgb(202 199 212);
  border-left: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgb(235, 228, 228);
  transform: rotate(-45deg);
}

.footer {
  grid-area: footer;
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    grid-template-rows: 200px 400px 1fr 30px;
    grid-template-columns: 1fr;
    box-shadow: none;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__wrapper {
    display: grid;
    width: 100%;
    grid-template-areas:
      "image image"
      "info info";
    grid-template-rows: 1fr;
  }

  .header__info {
    padding: 20px;
    margin: 0;
  }

  .header__img {
    display: none;
  }

  .aside__wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }

  .aside__title {
    position: relative;
    width: 100%;
    display: inline-block;
    z-index: 1;
    position: relative;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
  }

  .aside__title:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    background-color: rgb(202 199 212);
    height: 8px;
    top: 8px;
    z-index: -1;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    grid-template-rows: 400px 350px 1fr 30px;
    grid-template-columns: 1fr;
    box-shadow: none;
  }

  .header {
    flex-direction: column;
    justify-content: center;
  }
  .header__info {
    padding: 10px;
  }

  .header__img {
    padding: 30px;
  }

  .aside__contact {
    margin-top: 5px;
  }

  .aside__wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }

  .aside__title {
    position: relative;
    width: 100%;
    display: inline-block;
    z-index: 1;
    position: relative;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
  }
  .aside__title::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    background-color: rgb(248 248 248);
    height: 8px;
    top: 8px;
    z-index: -1;
  }

  .main__container {
    justify-content: center;
    align-items: center;
  }
  .main__box {
    width: 300px;
  }
}
