* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.header {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.header__title {
  line-height: 1.1em;
  font-weight: 300;
  font-size: 28px;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
}

.nav__link {
  padding: 10px;
}

.nav__icon {
  display: none;
  margin-right: 30px;
}

.active {
  position: relative;
  color: rgba(80, 130, 238, 0.952);
}

.active::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 1px;
  bottom: 1px;
  left: 15px;
  background-color: rgba(80, 130, 238, 0.952);
}

.content {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.main__img-right {
  grid-column: 1/3;
  grid-row: 1/3;
}

.main__img-left {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.aside {
  margin-left: 20px;
  margin-right: 20px;
}

.footer {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .nav__item {
    display: none;
  }

  .content {
    flex-direction: column;
    width: 100%;
  }

  .aside {
    order: -1;
  }

  .nav__icon {
    display: block;
    justify-content: center;
  }
  .header {
    width: 100%;
  }

  .header__title {
    margin-left: 20px;
  }

  .main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 400px;
    align-self: center;
  }

  .main__img-right {
    grid-column: span 1;
    grid-row: span 1;
  }

  .main__img-left {
    grid-column: span 1;
    grid-row: span 1;
  }
  .footer {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .content {
    flex-direction: column;
  }
  .aside {
    order: -1;
  }

  .header__title {
    margin-left: 20px;
  }
}
