doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title About
    body
        .wrapper
            header.header
                .header__content
                    h1.header__item-1 Shimanskaya Darya
                    h3.header__item-2 Frontend Developer
            main.main
                .content
                    p.content__text
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio
                    | dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate
                    | eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    | Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum,
                    | exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum
                    | dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos,
                    | aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium
                    | architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque
                    | quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos
                    | deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    | Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae?
            footer.footer @2021