.card-error {
  width: 240px;
  height: 240px;
  border: 4px solid #d47878;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 16px;
  padding: 40px 40px 28px 40px;
}

.error-icon {
  width: 96px;
  height: 96px;
  margin-bottom: auto;
}

.card-error .button {
  background-color:#D47878
}
 
.refresh {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 80px;
  width: 80px;
  animation: refresh 1000ms infinite linear;
  z-index: 10;
}

@keyframes refresh {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
