.burger {
  margin: 25px 35px;
  display: block;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.burger__label {
  margin-top: 1rem;
  width: 50px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  cursor: pointer;
}

.burger__label::before,
.burger__label::after {
  content: "";
  width: 50px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: block;
  color: rgb(255, 255, 255);
  transition: all 0.6s cubic-bezier(1, 0, 0, 1);
}

.burger__label::before {
  top: -250%;
  left: 0%;
  transform: rotateZ(0deg);
  transform-origin: left top;
}

.burger__label::after {
  bottom: -250%;
  left: 0%;
  transform: rotateZ(0deg);
  transform-origin: left bottom;
}

.burger__toggle:checked ~ .burger__label::before {
  content: "";
  background-color: rgb(255, 255, 255);
  transform: rotateZ(60deg);
  width: 63px;
  left: 10%;
}

.burger__toggle:checked ~ .burger__label::after {
  content: "";
  background-color: rgb(255, 255, 255);
  transform: rotateZ(-60deg);
  width: 63px;
  left: 10%;
}

.burger__toggle:checked ~ .burger__label {
  background-color: rgb(155, 145, 145);
}

.burger__toggle ~ .burger__label {
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

input {
  display: none;
}

.container {
  font-size: small;
  text-align: center;
  gap: 0;
}

.header {
  position: sticky;
  top: 0px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 3;
  height: 230px;
  background-color: rgb(155, 145, 145);
  border: 30px solid rgb(8, 8, 8);
}

.header__logo {
  height: 150px;
  margin: auto auto;
  border: none;
}

.top {
  display: none;
}

.side {
  font-size: small;
  background-color: rgb(155, 145, 145);
}

.main {
  width: 95%;
  padding: 15px;
}

.main__section,
.main__article,
.main__section__text,
.main__section__subheader {
  margin-top: 15px;
}

.card__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}

.card {
  width: 100%;
  margin: 15px 0;
}

.header__nav {
  display: none;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(155, 145, 145);
  color: rgb(255, 255, 255);
  grid-area: footer;
  padding: 20px;
}
