extends main
block aside
    aside.sidebar
        section.sidebar__skills
            h2.sidebar__skills-title Skills :
            ul.sidebat__skills-list
                li
                    | HTML5, CSS3/SCSS
                li
                    | JS(ES6+)
                li
                    | Boostrap
                li
                    | Git
                li
                    | HTML5, CSS3/SCSS
                li
                    | Vue.js
                li
                    | React.js(elementary)
                li
                    | NPM
                li
                    | Node.js(Express)
        section.sidebar__languages
            h2.sidebar__skills-title Languages :
            ul.sidebat__skills-list
                li English
                li Ukrainian
                li Russian
                li German
        section.sidebar__contacts
            h2.sidebar__title Contacts :
            .sidebar__contacts-list
                .sidebar__contact
                    .contact__image-box
                        img.sidebar__image(src='../images/gmail-icon.png' alt='email')
                    article.sidebar__link
                        a(href='mailto:ignatenko.igor.ol@gmail.com') ignatenko.igor.ol@gmail.com
                .sidebar__contact
                    .contact__image-box
                        img.sidebar__image(src='../images/tel-icon.png' alt='tel')
                    article.sidebar__link
                        a(href='tel:ignatenko.igor.ol@gmail.com') +38(095)-943-44-82
                .sidebar__contact
                    .contact__image-box
                        img.sidebar__image(src='../images/github-icon.png' alt='github')
                    article.sidebar__link
                        a(href='https://github.com/Memoriarty1') https://github.com/Memoriarty1
block content
    main.content
        section.content-info
            h2.content__title About mek:
            p.content__text
                | I'm an enthusiastic Front-end developer seeking Junior/Trainee position
                | with Company to
                | use my knowledge in real projects.
                | Experienced in making simple websites.Have an understanding of development process.Now
                | I'm learning React.js and I think it's very interesting framework(library) with many
                | posibilities in
                | development.
                | If you have position - please text me , I'm ready for test task!
        section.content-info
            h2.content__title Education:
            p.content__text
                strong Kyiv national university of construction and architecture
            p.content__text Master of Engineer Systems | 2019 - 2020 
            p
                strong Hillel IT School 
            p.content__text Front-end Pro | October 2020 - December 2020) 
        section.content-info
            h2.content__title Experiance:
            p
                strong Project Engineer - "Profinstall" | 2019 - 2020
            p.content__text
                | I was designing air-conditioning and ventilation systems for public and
                | industrial buildings.