doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(href='https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap' rel='stylesheet')
        title My CV
    body
    .page
        header.header-main
            .container
                span.menu(style='font-size:30px;cursor:pointer')
                .navigation
                        .navigation__box
                            input#checkbox.navigation__checkbox(type='checkbox')
                            label.navigation__btn(for='checkbox')
                                span
                .sidenav
                    a.menu__link(href='./home.html') Home
                    a.menu__link(href='./portfolio.html') Portfolio
        block content
        footer.footer
            p (c)Created by Ihor Ihnatenko 2021
        .button-up
            a(href='#top')  UP 
    .overlay

