extends main
block content 
    .gallary-body
        .wrapper-gallery 
            .wave-btn__container
                a.wave-btn
                    span.wave-btn__text Modalka!
                    span.wave-btn__waves
            .main
                .gallery
                    .gallery__item._big-left(style='background-image: url(../images/1.jpg)')
                        .gallery__content
                            h2.gallery__heading Project name
                            p.gallery__text
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
                                | consectetur facere voluptates, temporibus incidunt consequatur soluta aliquam corrupti nam!
                                | Aliquam enim commodi reiciendis vel exercitationem quod adipisci. Incidunt, saepe nemo.
                            a.gallery__button Read
                    .gallery__item(style='background-image: url(../images/2.jpg)')
                        .gallery__content
                            h2.gallery__heading Project name
                            p.gallery__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            a.gallery__button Read
                    .gallery__item(style='background-image: url(../images/3.jpg)')
                        .gallery__content
                            h2.gallery__heading Project name
                            p.gallery__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            a.gallery__button Read
                    .gallery__item(style='background-image:url(../images/4.jpg)')
                        .gallery__content
                            h2.gallery__heading Project name
                            p.gallery__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            a.gallery__button Read
                    .gallery__item._big-right(style='background-image: url(../images/5.jpg)')
                        .gallery__content
                            h2.gallery__heading Project name
                            p.gallery__text
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
                                | consectetur facere voluptates, temporibus incidunt consequatur soluta aliquam corrupti nam!
                                | Aliquam enim commodi reiciendis vel exercitationem quod adipisci. Incidunt, saepe nemo.
                            a.gallery__button Read
                    .gallery__item(style='background-image: url(../images/6.jpg)')
                        .gallery__content
                            h2.gallery__heading Project name
                            p.gallery__text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            a.gallery__button Read
                    .gallery__item._big-left(style='background-image: url(../images/7.jpg)')
                        .gallery__content
                            h2.gallery__heading Project name
                            p.gallery__text
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
                                | consectetur facere voluptates, temporibus incidunt consequatur soluta aliquam corrupti nam!
                                | Aliquam enim commodi reiciendis vel exercitationem quod adipisci. Incidunt, saepe nemo.
                            a.gallery__button Read
                    .gallery__item(style='background-image: url(../images/8.jpg)')
                        .gallery__content
                            h2.gallery__heading Project name
                            p.gallery__text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            a.gallery__button Read
                    .gallery__item(style='background-image: url(../images/9.jpg)')
                        .gallery__content
                            h2.gallery__heading Project name
                            p.gallery__text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            a.gallery__button Read
    .modal 
        .modal-box
            h1.modal-box__title Hello friend
            p.modal-box__text
                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis
                | temporibus vel eaque, quos recusandae odio rerum sapiente labore
                | dicta eligendi cumque, nostrum ducimus earum deleniti neque, cum hic
                | aliquam excepturi!
            p.modal-box__text
                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis
                | temporibus vel eaque, quos recusandae odio rerum sapiente labore
                | dicta eligendi cumque, nostrum ducimus earum deleniti neque, cum hic
                | aliquam excepturi!
            p.modal-box__text
                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis
                | temporibus vel eaque, quos recusandae odio rerum sapiente labore
                | dicta eligendi cumque, nostrum ducimus earum deleniti neque, cum hic
                | aliquam excepturi!
            p.modal-box__text
                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis
                | temporibus vel eaque, quos recusandae odio rerum sapiente labore
                | dicta eligendi cumque, nostrum ducimus earum deleniti neque, cum hic
                | aliquam excepturi!
            p.modal-box__text
                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis
                | temporibus vel eaque, quos recusandae odio rerum sapiente labore
                | dicta eligendi cumque, nostrum ducimus earum deleniti neque, cum hic
                | aliquam excepturi!
            p.modal-box__text
                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis
                | temporibus vel eaque, quos recusandae odio rerum sapiente labore
                | dicta eligendi cumque, nostrum ducimus earum deleniti neque, cum hic
                | aliquam excepturi!
            p.modal-box__text
                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis
                | temporibus vel eaque, quos recusandae odio rerum sapiente labore
                | dicta eligendi cumque, nostrum ducimus earum deleniti neque, cum hic
                | aliquam excepturi!
            p.modal-box__text
                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis
                | temporibus vel eaque, quos recusandae odio rerum sapiente labore
                | dicta eligendi cumque, nostrum ducimus earum deleniti neque, cum hic
                | aliquam excepturi!
            .box__button
                button.modal__close OK
