extends layout
block head
  title Ilya Ischenko
block content
    main
      div.container
        button.open-modal Open modal
        div.main__inner 
          .modal
            .modal__inner
              p.modal__title Hello world!
              p.modal__text
              .text_right
                button.close-modal Ok!

          