extends layout
block head
  title Ilya Ischenko
block content
    main
      div.container
        div.main__inner 
          .modal
            .modal__inner
              p.modal__title Hello world!
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quae officia suscipit repellendus, aperiam
                | tenetur pariatur dolore nobis aut officiis natus expedita illo amet eum ratione ea autem quibusdam ipsum
                | quos quod qui vel! Animi ex iure expedita laborum quas laboriosam ab id sed nemo. Alias, perspiciatis
                | cupiditate libero rem, non error nemo doloremque inventore quam, ratione eos illo eaque ea amet
                | voluptates. Quaerat dolorem vero, culpa soluta nobis molestiae rerum voluptas dolore cum inventore unde
                | aperiam doloribus laudantium molestias, ipsum corrupti quos quo adipisci earum reprehenderit
                | exercitationem? Eveniet culpa aliquam voluptatem quis sint nostrum, quae dolor ipsa neque consequuntur?
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quae officia suscipit repellendus, aperiam
                | tenetur pariatur dolore nobis aut officiis natus expedita illo amet eum ratione ea autem quibusdam ipsum
                | quos quod qui vel! Animi ex iure expedita laborum quas laboriosam ab id sed nemo. Alias, perspiciatis
                | cupiditate libero rem, non error nemo doloremque inventore quam, ratione eos illo eaque ea amet
                | voluptates. Quaerat dolorem vero, culpa soluta nobis molestiae rerum voluptas dolore cum inventore unde
                | aperiam doloribus laudantium molestias, ipsum corrupti quos quo adipisci earum reprehenderit
                | exercitationem? Eveniet culpa aliquam voluptatem quis sint nostrum, quae dolor ipsa neque consequuntur?
              .text_right
                button.modal__btn Ok!

          