<header class="header">
    <div class="header__logo">
      <i class="header__icon fa fa-user-secret">&#xf2be;</i>
      <h1 class="header__title">Roman Palagniuk</h1>
      <h2 class="header__subtitle">WEB DEVELOPER</h2>
    </div>
    <div class="burger">
      <input type="checkbox" id="toggle" class="burger__toggle" />
      <label class="burger__label" for="toggle"> </label>
    </div>
    <nav class="header__nav">
      <a href="#about" class="header__link">About</a>
      <a href="#experience" class="header__link">Experience</a>
      <a href="#portfolio" class="header__link">Portfolio</a>
    </nav>
  </header>