block content
.container
  header#top.header__wrapper
    .header__img
      img.header__photo(src='./img/photo.jpg' alt='CV photo')
    .header__info
      h1.header__title  Vitalina Poremchuk
      .header__text Frontend developer
  aside.aside
    .aside__info
      p.aside__text
        | I have experience with CSS, Javascript and HTML. Analytical and
        | flexibility thinking. 
        br
        | A team player, able to work in distributed team as well as
        |                     independently.
        br
        | Fast-learning and self-motivated front-end developer.
    .aside__contact
      h2.aside__title Contact
      .aside__wrapper
        .aside__box
          .aside__city  Kyiv, Ukraine
          .aside__phone
            a(href='tel:+380932714475') +380932714475
        .aside__box
          .aside__email
            a(href='mailto:vitalinaporemchuk@ukr.net') vitalinaporemchuk@ukr.net
          .aside__linkedin
            a(href='www.linkedin.com/in/vitalina-poremchuk') Linkedin
  main.main
    section.main__education
      h2.main__head Education
      .main__info
        .main__title National Aviation University
        .main__text Bachelor degree, Applied Mathematics.
        .main__paragraph 09/2014 - 06/2018 
        br
        .main__title National Aviation University
        .main__text Master&apos;s degree, Consolidated information.
        .main__paragraph 09/2018 - 02/2020
    section.main__certificates
      h2.main__head Certificates
      .main__info
        .main__title Infopulse
        .main__text Frontend developer (HTML, CSS, Bootstrap).
        .main__paragraph 07/2019 - 10/2019
        br
        .main__title Infopulse
        .main__text Frontend developer (JavaScript).
        .main__paragraph 10/2019 - 03/2020
    section.main__skills
      h2.main__head Skills
      .main__container
        .main__box
          p.main__txt Html
          .main__html
        .main__box
          p.main__text CSS
          .main__css
        .main__box
          p.main__txt JavaScript
          .main__js
        .main__box
          p.main__txt PHP
          .main__php
    section.main__lang
      h2.main__head Language
      .main__info
        ul.amain__list
          li.main__item English - Intermediate
          li.main__item Ukrainian - Native
          li.main__item Russian - Native
