.user-button-refresh {
  padding: 8px;
  max-width: 320px;
  width: 100%;
  font-size: 18px;
  border-radius: 6px;
  transition: opacity 0.2s linear;
  font-weight: 500;
  color: #fff;
  background: #5e217a;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}
