<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <% include shared/header %> 
      <% include shared/aside %>
      <% include shared/gallery %>
      <% include containers/pages/profile %>
    </div>
    <% include shared/sidenav/main %> 
    <% include shared/scrolltotop %> 
  </body>
</html>
