.container {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    position: relative;
    width: 240px;
    height: 240px;
    margin: 20px;
  }

  .button-refresh-wrapper {
    width: 100%;
    height: 40px;
    text-align: center;
  } 