<section class="gallery">
  <div class="gallery__image-container">
    <img
      class="gallery__image"
      src="https://www.intelecis.com/wp-content/blogs.dir/743/files/2020/12/intro.jpg"
      alt="cat"
    />
    <div class="gallery__image-info"><span>Free Image!</span></div>
  </div>
  <div class="gallery__image-container">
    <img
      class="gallery__image"
      src="https://www.intelecis.com/wp-content/blogs.dir/743/files/2020/12/intro.jpg"
      alt="cat"
    />
    <div class="gallery__image-info"><span>Free Image!</span></div>
  </div>
  <div class="gallery__image-container">
    <img
      class="gallery__image"
      src="https://www.intelecis.com/wp-content/blogs.dir/743/files/2020/12/intro.jpg"
      alt="cat"
    />
    <div class="gallery__image-info"><span>Free Image!</span></div>
  </div>
</section>
