* {
    box-sizing: border-box;
}
  
.highlight{
    background-color: rgb(106, 140, 225);
    padding: 0;
}

.highlightRowCell{
  background-color: rgb(123, 146, 182);

}

table{
  margin: 0 auto;
}

td{ 
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  font-size: 10px;
 }
