.modal {
  z-index: 33;
  position: relative;
  padding: 1rem;
  top: 0;
  left: 25%;
  width: 50%;
  margin-top: 2rem;
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 1rem;
  overflow-y: auto;
}

.modal__wrapper {
  top: 0;
  left: 0;
  position: absolute;
  overflow-y: auto;
  max-height: 100vh;
}

body {
  overflow: hidden;
  position: fixed;
  background-color: lightgray;
}
