@import './vars';

@media(min-width: 1024px) {
  .wrapper {
      width: 960px;
  }

  .section-title {
    padding-bottom: 20px;

    &__name {
      font-size: $font-size-accent;
    }

    &__line {
      margin-top: 10px;
      height: 4px;
    }
  }

  .main-header {
    height: 250px;

    &__hamburger-menu {
      visibility: hidden;
    }

    &__main-navigation {
      position: static;
      visibility: visible;
      opacity: 1;
      height: 40px;
      width: 100%;
      border: none;
    }

    &__intro {
      position: inherit;
    }

    &-intro {
      &__photo {
        margin-top: 5px;
        width: 200px;
        height: 200px;
      }

      &__name {
        font-size: 4.8rem;
      }
    }
  }

  .main-navigation {
    &__list {
      margin-top: -25px;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }

  .sidebar-contacts {
    &-list__item {
        font-size: $font-size-usually;
    }
  }

  .skills-section {
    &__list {
      padding-left: 17px;
    }

    &-list__item {
      font-size: 1.6rem;
    }
  }
  .experience-section {
    &-projects__list {
      padding-right: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
  }
  .experience {
    &-projects__item {
      width: 100%;
      font-size: $font-size-usually;
    }

    &__name {
      font-size: 1.6rem;
    }
  }
  .hobby-section {
    &__list {
      padding-left: 17px;
    }
  }
}