.button {
  width: 320px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #5E217A;
  font-family: Roboto;
  font-size: 18px;
  color: #fff;
  border-radius: 6px;
  font-weight: 900;
  text-transform: uppercase;
}
