extends template.pug
block head
  title about cv
block aside
  aside.left-side 
    div.left-side__container
      h2.title About
block main
  main.right-side
    p.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nobis nisi necessitatibus mollitia esse aliquid, beatae ut. Quidem maiores veritatis alias necessitatibus voluptatum, assumenda temporibus? Itaque possimus qui sunt, veritatis maxime quia nulla corrupti voluptates iste molestiae blanditiis deserunt neque quidem doloremque. Vel nihil molestiae reprehenderit quibusdam sunt illum corrupti minima quis sapiente cumque doloremque fugiat fuga numquam fugit maiores officiis id non similique, dolore repudiandae quae? Deserunt eos explicabo, commodi sunt temporibus quasi eaque expedita consequuntur natus quia illo, laudantium numquam! Aliquid laudantium delectus corporis? Esse aut, minima explicabo dolores cumque quaerat? Tempora, quisquam enim aspernatur impedit minus quam?
    div.button(type="button")
      button.desc.button__open-modal-window Open
  div.modal
    h1.modal__title Hello World 
    p.modal__text 
    button.modal__btn(type="button") OK!