doctype html 
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap' rel='stylesheet')
    link(rel="icon" href="https://img.icons8.com/color/344/rihanna.png")
    block head

  body
    a(href="#top").scroll-button
      img.scroll-button__img(src='../img/icons/scroll.png' alt='arrow')
    div.container
      div.avatar
        div.avatar-container
      header.header
        div.header__logo
          div.header__logo-container
            h1.header__title Karina Akulenok
            h2.header__sub-title Frontend Developer
        div.header__menu
          div.header__burger-menu
            div.header__menu-line1
            div.header__menu-line2
            div.header__menu-line3
      block aside 
      block main
