@import "./styles.css";

@media (max-width: 1024px) {
  .header__name {
    width: 100%;
    word-wrap: break-word;
  }

  .wrapper {
    flex-direction: column;
  }

  .aside {
    width: 100%;
    text-align: center;
  }

  .wrapper {
    grid-template-areas:
      "header header header"
      "aside aside aside"
      "gallery gallery gallery"
      "main main main";
  }

  .gallery {
    flex-direction: column;
    max-height: none;
    align-items: center;
    padding: 1rem 0;
  }

  .gallery__image-container {
    max-width: none;
  }
}
