.card {
  position: relative;
  width: 20%;
  padding: 20px;
}

.card__inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card__inner:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.1s linear;
}

.card__inner:hover::before {
  opacity: 1;
}

.refresh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  transition: opacity 0.1s linear, transform 0.2s linear;
}

.card__inner:hover .refresh {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.refresh__icon {
  max-width: 90px;
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .card {
    width: 25%;
  }
}

@media (max-width: 990px) {
  .card {
    width: 33.333%;
  }
}

@media (max-width: 770px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 570px) {
  .card {
    width: 100%;
  }
}
