.tiny-face-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.cards-container {
  min-height: 90vh;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

@media (max-width: 768px) {
  .cards-wrapper {
    justify-content: center;
  }
}
