* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  gap: 3rem;
  grid-template-areas:
    "header header"
    "side mn"
    "footer footer";
}

.header {
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
  grid-area: header;
  display: flex;
  justify-content: space-around;
}

.mn {
  padding: 3rem;
  grid-area: mn;
}

.side {
  grid-area: side;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(7, 58, 26);
  color: rgb(119, 224, 243);
  grid-area: footer;
  padding: 2rem;
}

.header__logo {
  margin: 3rem 3rem;
}

.header__icon {
  font-size: 50px;
  margin-left: -8%;
  margin-top: -4%;
  float: left;
  width: 10%;
  background-color: rgb(7, 58, 26);
  color: rgb(119, 224, 243);
  border-radius: 0.5rem;
}

.header__title {
  font-size: 3rem;
  display: flex;
  padding: 10px 10px 10px 30px;
  color: rgb(7, 58, 26);
  text-align: center;
}

.header__subtitle {
  margin-left: 50px;
  padding: 10px 0;
  color: rgb(119, 224, 243);
  background-color: rgb(7, 58, 26);
  text-align: center;
  border-radius: 0.5rem;
}

.header__nav {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(7, 58, 26);
}

.header__link {
  text-decoration: none;
  padding: 1rem;
  color: rgb(7, 58, 26);
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 0.5rem;
}

.side__section,
.mn__section,
.mn__article,
.mn__section__text,
.mn__section__subheader {
  margin-top: 15px;
}

.mn__section {
  padding: 40px;
  color: rgb(7, 58, 26);
  background-color: rgba(119, 224, 243, 0.2);
  border-radius: 0.5rem;
}

.top {
  display: none;
}

.side__section {
  margin-top: 200px;
  margin-left: 30px;
  padding: 30px 0;
  font-size: 1.3rem;
}

.side__section__title {
  padding: 20px 0;
  color: rgb(119, 224, 243);
  background-color: rgb(7, 58, 26);
  text-align: center;
  border-radius: 0.5rem;
}

.side__section__list-item {
  margin-top: 1rem;
  color: rgb(7, 58, 26);
  font-weight: bolder;
}

.side__section__list {
  list-style: none;
  margin: 1rem 0;
}

.side__section__list--square {
  list-style: square;
}

.side__section__link {
  text-decoration: none;
  color: rgb(7, 58, 26);
}

@media (max-width: 600px) {
  .container {
    font-size: xx-small;
    text-align: center;
    display: grid;
    margin: 0 auto;
    grid-template-areas:
      "header "
      "side"
      "mn"
      "footer";
  }

  .header {
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 3;
    height: 230px;
  }

  .top {
    text-decoration: none;
    display: block;
    position: fixed;
    right: 8%;
    bottom: 10%;
    font-weight: 600;
    color: rgb(119, 224, 243);
    background-color: rgb(7, 58, 26);
    padding: 5px;
    border-radius: 5px;
    z-index: 5;
  }

  .side {
    margin: 1rem auto;
    font-size: smaller;
  }

  .side__section {
    margin: 50px auto;
    padding: 30px 0;
    font-size: 1.3rem;
  }

  .mn {
    width: 95%;
    padding: 15px;
    margin: 15px auto;
  }

  .header__nav {
    display: none;
  }

  .burger {
    margin: 35px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: rgb(7, 58, 26);
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .burger_line {
    display: inline-block;
    height: 8px;
    width: 40px;
    margin: 2px auto;
    background-color: rgb(255, 255, 255);
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 58, 26);
    color: rgb(119, 224, 243);
    grid-area: footer;
    padding: 20px;
  }
}

@media (max-width: 1024px) and (min-width: 600px) {
  .container {
    font-size: x-small;
    text-align: center;
    gap: 1rem;
  }

  .header {
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 3;
    height: 230px;
  }

  .top {
    display: none;
  }

  .side {
    margin-top: 15px;
    font-size: smaller;
  }

  .mn {
    width: 95%;
    padding: 15px;
  }

  .header__nav {
    display: none;
  }

  .burger {
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: rgb(7, 58, 26);
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .burger_line {
    display: inline-block;
    height: 8px;
    width: 60px;
    margin: 2px auto;
    background-color: rgb(255, 255, 255);
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 58, 26);
    color: rgb(119, 224, 243);
    grid-area: footer;
    padding: 20px;
  }
}
