<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./template.css" />
    <title>template</title>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h1 class="header__title">Hello World!</h1>
        <nav class="header__nav">
          <a
            href="https://example.com/"
            class="header__link header__link-active"
            >Click me</a
          >
          <a href="https://example.com/" class="header__link">Click me</a>
          <a href="https://example.com/" class="header__link">Click me</a>
          <a href="https://example.com/" class="header__link">Click me</a>
        </nav>
      </header>
      <main class="main">
        <section class="main__section">
          <img
            src="./img/paris.jpg"
            alt="paris image"
            class="main__img main__img-big"
          />
          <div class="main__img__wrapper">
            <img
              src="./img/paris.jpg"
              alt="paris image"
              class="main__img main__img-small"
            />
            <img
              src="./img/paris.jpg"
              alt="paris image"
              class="main__img main__img-small"
            />
          </div>
        </section>
        <section class="main__section">
          <div class="main__img__wrapper">
            <img
              src="./img/paris.jpg"
              alt="paris image"
              class="main__img main__img-small"
            />
            <img
              src="./img/paris.jpg"
              alt="paris image"
              class="main__img main__img-small"
            />
          </div>
          <img
            src="./img/paris.jpg"
            alt="paris image"
            class="main__img main__img-big"
          />
        </section>
      </main>
      <aside class="side">
        <h3 class="side__title">Hi, I'm Full Name. Nice to meet you.</h3>
        <p class="side__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem, totam laudantium! Rem perferendis neque, dolores est
          temporibus accusantium ipsum voluptas. Praesentium at fugiat, deserunt
          voluptatem itaque, deleniti rerum ipsa asperiores officiis dignissimos
          quod, iste neque sit libero soluta quam nobis ullam voluptas alias eos
          doloremque. Rem perferendis neque, dolores est temporibus accusantium
          ipsum voluptas.
        </p>
      </aside>
      <footer class="footer">
        <p>(c) 2021</p>
      </footer>
    </div>
  </body>
</html>
