.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 1440px;
  padding: 40px;
  &__card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 40px;
    row-gap: 20px;
  }
  &__refresh {
    margin-top: 5px;
    bottom: 40px;
    position: sticky;
  }
}