.app {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(20, 40px);
  grid-template-rows: repeat(30, 40px);
  justify-content: center;
}

.container__item {
  background-color: lightsalmon;
  text-align: center;
  color: aliceblue;
  font-weight: bold;
  border: 1px solid white;
}

.container__item:hover {
  cursor: pointer;
}

.container__item._hover {
  background-color: lightblue;
}

.container__item._active {
  background-color: blue;
}
