* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1rem;
    font-weight: 400;
    background: #FFF;
}

.container {
    display: grid;
    grid-template: 
        "avatar header" 20rem
        "aside main" 100rem;
    grid-template-columns: 30% 70%;
}

.scroll-button {
    display: none;
}

/* header */

.header {
    display: flex;
    grid-area: header;
    
} 

.avatar {
    grid-area: avatar;
    background-color: #2d2d2d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: url(./img/avatar.jpg) no-repeat -56px -72px;
    border: 1px solid rgb(247, 243, 233);
    background-size: auto 450px;
}

.header__logo {
    background-color: rgb(247, 243, 233);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header__title {
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 600;
}

.header__sub-title {
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
}

/* main */

.left-side {
    grid-area: aside;
    background-color: #2d2d2d;
    color: rgb(247, 243, 233);
}

.left-side__container {
    margin-left: 100px;
}

.title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 50px;
    border-bottom: 2px solid rgb(247, 243, 233);
    padding-bottom: 20px;
    margin-bottom: 30px;
    line-height: 2rem;
}

.sub-title {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.desc {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

.about__desc {
    margin-right: 10px;
}

.facts__item {
    list-style-type: none;
    margin-right: 10px;
    margin-bottom: 10px;
}

.facts__item:before {
    content: "⚝ ";
    padding-right: 5px;
}

.contacts__item {
    display: flex;
    margin-bottom: 20px;
}

.contacts__title {
    margin-left: 0;
    margin-bottom: 5px;
}

.contacts__img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.contacts__link {
    text-decoration: none;
    color: rgb(247, 243, 233);
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

.contacts__link:hover {
    transition:  color 5s;
    color: rgb(250, 236, 201);
}

@keyframes bounce {
    0%,  
    100% {
       transform: translateX(0);
    } 
    50% {
        transform: translateX(10px);
    }
}

.right-side {
    grid-area: main;
    background-color: rgb(247, 243, 233);
    padding-right: 100px;
    color: #000;
}

.title-right {
    border-bottom: 2px solid #2d2d2d;
    margin-left: 50px;
}

.skill-lists {
    display: flex;
    margin-left: 50px;
}
  
.skill-lists__list {
    width: 50%;
    margin-right: 20px;
}

.skill-lists__item {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 1.2em;
}
  
.skill-lists__name {
    opacity: 0.7;
}
  
.skill-lists__mark {
    color: #301a33;
}
  
.skill-lists_color_grey {
    color: #8c8c8c;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 100px;
}

.portfolio__img {
    width: 325px;
    height: 200px;
}

.portfolio__item {
    position: relative;
    margin-bottom: 20px;
}

.portfolio__mask {
    position: absolute;
    width: 325px;
    height: 200px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(247, 243, 233);
    line-height: 1.5rem;
    background-color: rgb(44, 43, 43);
    opacity: 0;
}

.portfolio__mask:hover  {
    cursor: pointer;
    opacity: 0.9;
    animation: 5s show;
}

@keyframes show {
    0% {
        opacity: 0.9;
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
        opacity: 0.9;
    }
}

.item {
    list-style-type: none;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.item:before {
    content: "⚝ ";
    padding-right: 5px;
}

.item__link {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
}

.item__link:hover {
    text-decoration: underline;
    transition:  text-decoration 5s;
}

.description {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    opacity: 0.7;
    margin-left: 50px;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .container {
        display: grid;
        grid-template: 
        "avatar header" 12rem
        "aside aside" 60rem
        "main main" 130rem;
        grid-template-columns: 30% 70%;
    }

    .header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 99;
    }

    .avatar {
        z-index: 99;
        position: sticky;
        top: 0;
        width: 100%;
    }

    .header__logo {
        width: 100%;
        background-color: #2d2d2d;
        color: rgb(247, 243, 233);
    }

    .header__title {
        line-height: 3rem;
    }

    .avatar-container {
        width: 150px;
        height: 150px;
        background: url(./img/avatar.jpg) no-repeat -65px -72px;
        background-size: auto 350px;
    }

    .right-side {
        width: 100%;
        background-color: #2d2d2d;
        color: rgb(247, 243, 233);
        padding-right: 0;
    }

    .title-right {
        border-bottom: 2px solid rgb(247, 243, 233);
    }

    .skill-lists__name {
        opacity: 1;
        word-wrap: break-word;
        
    }

    .skill-lists__item {
        font-size: 1rem;
    }

    .skill-lists {
        margin-right: 50px;
    }

    .skill-lists__mark {
        color: rgb(247, 243, 233);
    }

    .portfolio {
        margin: 0 50px;
    }

    .portfolio__img {
        width: 320px;
        height: 200px;
    }

    .portfolio__mask {
        width: 320px;
        height: 200px;
    }
      
    .item__link {
        color: rgb(247, 243, 233);
    }

    .description {
        color: rgb(247, 243, 233);
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .left-side__container {
        margin-left: 50px;
    }

    .contacts__title {
        margin-left: 0;
    }

    .portfolio {
        margin-left: 50px;
    }

    .portfolio__img {
        width: 270px;
        height: 180px;
    }

    .portfolio__mask {
        width: 270px;
        height: 180px;
    }
}

@media (max-width: 600px) {
    .header__title {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-left: 20px;
    }
    
    .header__sub-title {
        margin-left: 20px;
        font-size: 1rem;
    }

    .avatar-container {
        width: 120px;
        height: 120px;
        background: url(./img/avatar.jpg) no-repeat -51px -51px;
        background-size: auto 270px;
    }

    .header__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        background-color: #2d2d2d;
    }

    .header__burger-menu {
        display: inline-block;
    }

    .header__menu-line1.header__menu-line1, .header__menu-line2, .header__menu-line3 {
        width: 35px;
        height: 3px;
        background-color: rgb(247, 243, 233);
        margin: 6px 0;
        transition: 0.4s;
    }

    .header__burger-menu:hover .header__menu-line1 {
        transform: rotate(45deg) translateY(12px);
    }

    .header__burger-menu:hover .header__menu-line2 {
        opacity: 0;
    }

    .header__burger-menu:hover .header__menu-line3 {
        transform: rotate(-45deg) translateY(-13px);
    }

    .left-side__container {
        margin-left: 20px;
    }

    .title-right {
        margin-left: 20px;
    }

    .skill-lists {
        margin-left: 20px;
        margin-right: 20px;
    }

    .description {
        margin-left: 20px;
    }

    .skill-lists__item {
        font-size: 0.8rem;
    }

    .scroll-button {
        width: 70px;
        height: 70px;
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border: none;
        outline: none;
        animation: up 2s infinite;
    }

    .scroll-button__img {
        width: 50px;
        height: 50px;
    }

    .scroll-button:hover {
        cursor: pointer;
    }

    @keyframes up {
        0%,  
        100% {
           transform: translateY(0);
        } 
        50% {
            transform: translateY(10px);
        }
    }
}

@media (max-width: 460px) {
    .container {
        grid-template-rows: 12rem 70rem 130rem;
    }

    .header__title {
        font-size: 2rem;
        line-height: 2rem;
        margin-left: 20px;
    }

    .avatar-container {
        width: 100px;
        height: 100px;
        background: url(./img/avatar.jpg) no-repeat -51px -51px;
        background-size: auto 250px;
    }

    .skill-lists__item {
        flex-direction: column;
    }

    .skill-lists__item {
        font-size: 1rem;
    }
}

@media (max-width: 370px) {
    .header__title {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-left: 20px;
    }

    .avatar-container {
        width: 80px;
        height: 80px;
        background: url(./img/avatar.jpg) no-repeat -51px -51px;
        background-size: auto 220px;
    }
}