$color-accent-light: #206617;
$color-accent-bright: #3ecc6d;
$font-size-usually: 1.4rem;
$font-size-accent: 1.8rem;
$color-light: #fff;
$color-dark: #000;
$border-usually: 2px solid $color-accent-light;
$border-light: 2px solid $color-light;
$gradient: linear-gradient(90deg, $color-accent-light, $color-accent-bright); 