@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$main-color: goldenrod;
$main-color--light: rgb(243, 184, 35);

/* Common */
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: "EB Garamond", serif;
  font-size: 1.8rem;
  overflow-x: hidden;
}

.title {
  font-size: 2.8rem;
  margin-bottom: 10px;
  font-weight: bold;
}

._overflow {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  z-index: 10;
  transition: opacity 0.4s ease-in;
  pointer-events: none;
}

._active-backdrop {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}
/* /Common */

.wrapper {
  min-height: 100%;
  display: grid;
  padding: 0 10px;
  grid-template:
    "header" 150px
    "main" 1fr
    "footer" 100px
    / minmax(320px, 1fr);
  row-gap: 10px;
}

%header-before-after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background: $main-color;
}

.about-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10;
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 1px 4px 2px;

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 20;

    &-content {
      margin-left: 10px;
    }
    &-fullname {
      font-size: 2.6rem;
      font-weight: bold;
    }
  }
  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    z-index: 20;
    &__inner {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 3px;
      background: $main-color;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        @extend %header-before-after;
        bottom: 10px;
        transition: bottom 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      &::after {
        @extend %header-before-after;
        top: 10px;
        transition: top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

  &__navbar {
    position: fixed;
    width: 95%;
    height: 100vh;
    transform: translate(300%, 0);
    transition: transform 0.3s ease-in-out;
    background: rgba($color: #000000, $alpha: 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
  }

  %navbar-link {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $main-color--light;
    transform: scaleX(0);
    transition: transform 0.5s;
    margin: 2px 0;
  }

  .navbar {
    &__link {
      font-size: 3rem;
      position: relative;
      color: #000;
      text-decoration: none;
      margin: 10px 0;
      padding: 12px 80px;

      &::after,
      &::before {
        @extend %navbar-link;
      }

      &::after {
        bottom: 0;
        transform-origin: right;
      }

      &::before {
        top: 0;
        transform-origin: left;
      }

      &:hover::after,
      &:hover::before {
        transform: scaleX(1);
      }

      &._active {
        font-weight: bold;
      }
    }
  }
}

._active-header {
  .about-header {
    &__info {
      transition: color 0.3s ease-in-out;
      color: #fff;
    }

    &-burger {
      .ncv-header-burger__inner {
        transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: rotate(225deg);
      }
      .ncv-header-burger__inner::before {
        transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out;
        opacity: 0;
        top: 0;
      }
      .ncv-header-burger__inner::after {
        transition: top 0.4s ease-in-out, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        top: 0;
        transform: rotate(90deg);
      }
    }

    &__navbar {
      transform: translate(0, 0);
    }
  }
  .navbar {
    &__link {
      color: #fff;
    }
  }
}

.about-main {
  grid-area: main;
  margin-top: 20px;
}

.about-footer {
  max-width: 95%;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(231, 230, 230);

  &__content {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 415px) {
  .about-footer {
    &__content {
      display: block;
    }
  }
}

@media (min-width: 600px) {
  .wrapper {
    min-height: 100%;
    display: grid;
    padding: 10px;
    row-gap: 10px;
    column-gap: 20px;
  }

  .about-header {
    position: static;
    justify-content: space-between;
    box-shadow: none;

    &__info {
      flex-wrap: nowrap;
      &-fullname {
        font-size: 4rem;
      }
    }

    &-burger {
      display: none;
    }

    &__navbar {
      position: unset;
      display: flex;
      width: unset;
      height: unset;
      transform: unset;
      background: unset;
      transition: unset;
      flex-direction: row;
      border-radius: 0;
    }

    .navbar {
      &__link {
        font-size: inherit;
        color: #000;
        text-decoration: none;
        margin: 0 0 0 10px;
        padding: 8px 10px;
      }
    }
  }

  .about-main {
    margin: 0;
  }
}
