doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, user-scalable=no")
    title Page About
  body
      .backdrop
      .wrapper 
        header.about-header 
          .about-header__info
            .about-header__img-wrapper
              img.about-header__img(src=require('./assets/img/me.jpg').default, alt="profile_img")
            .about-header__info-content
              .about-header__info-fullname Roman Ivashkevich
              .about-header__info-position Solvd devlab student
          .about-header-burger
              .about-header-burger__inner 
          .about-header__navbar
              a.navbar__link(href="./index.html") Home
              a.navbar__link(href="#") Contacts
              a.navbar__link._active(href="#") About
        main.about-main 
          .title About
          .about Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.
        footer.about-footer
          .about-footer__content  
            != 'Create by <strong>Roman Ivashkevich</strong> 2021'