doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, user-scalable=no")
    block head 
  body  
    .backdrop
    .wrapper
      header.ncv-header 
        .ncv-header__info
          .ncv-header__img-wrapper
            img.ncv-header__img(src='./assets/img/me.jpg', alt="profile_img")
          .ncv-header__info-content
            .ncv-header__info-fullname Roman Ivashkevich
            .ncv-header__info-position Solvd devlab student
        .ncv-header-burger
          .ncv-header-burger__inner 
        .ncv-header__navbar
          a.navbar__link._active(href="./index.html") Home
          a.navbar__link(href="#") Contacts
          a.navbar__link(href="./about.html") About
      block main 
      footer.ncv-footer
        .ncv-footer__content  
          != 'Create by <strong>Roman Ivashkevich</strong> 2021'
    button.btn-top Top!
    div.modal        