@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$main-color: goldenrod;
$main-color--light: rgb(243, 184, 35);

/* Common */
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: "EB Garamond", serif;
  font-size: 1.8rem;
  overflow-x: hidden;
}

._overflow {
  overflow: hidden;
}

.title {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 95%;
}

.container:not(:last-child) {
  margin-bottom: 40px;
}

.container:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background: $main-color;
  left: 50%;
  bottom: -25px;
  transform: translate(-50%, 0);
}

.btn-top {
  font-weight: 600;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: $main-color;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  animation: rainbowGradient 6s ease-in-out infinite alternate;
  &:hover {
    background-color: $main-color--light;
  }
}

.backdrop {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.6);
  z-index: 10;
  transition: opacity 0.4s ease-in;
  pointer-events: none;
}

._active-backdrop {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transition: transform 0.3s ease-in-out;
  transform: translate(-50%, -50%) scale(0);
  max-width: 500px;
  width: 85%;
  z-index: 1000;
  .modal-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
    &__title {
      font-size: 2rem;
      font-weight: 600;
    }
    &__image {
      max-width: 500px;
      width: 100%;
      object-fit: cover;
      margin: 10px 0;
      border: 3px solid #eee;
      border-radius: 10px;
    }
    &__description {
    }
    &__close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 2rem;
      font-weight: bold;
      cursor: pointer;
      padding: 5px 5px;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.2);
      }
    }
    &__link {
      text-decoration: none;
      color: #000;
      font-size: 1.4rem;
      transition: color 0.3s ease-in-out;
      padding: 10px;

      &:hover {
        color: $main-color;
      }
    }
  }
}

._active-modal {
  transform: translate(-50%, -50%) scale(1);
}
/* /Common */

.wrapper {
  min-height: 100%;
  display: grid;
  padding: 0 10px;
  grid-template:
    "header" 150px
    "main" 1fr
    "contacts" auto
    "footer" 100px
    / minmax(320px, 1fr);
  row-gap: 10px;
}

%header-before-after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background: $main-color;
}

.ncv-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10;
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 1px 4px 2px;

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 20;

    &-content {
      margin-left: 10px;
    }
    &-fullname {
      font-size: 2.6rem;
      font-weight: bold;
    }
  }
  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    z-index: 20;
    &__inner {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 3px;
      background: $main-color;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        @extend %header-before-after;
        bottom: 10px;
        transition: bottom 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      &::after {
        @extend %header-before-after;
        top: 10px;
        transition: top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

  &__navbar {
    position: fixed;
    width: 95%;
    height: 100vh;
    transform: translate(300%, 0);
    transition: transform 0.3s ease-in-out;
    background: rgba($color: #000000, $alpha: 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
  }

  %navbar-link {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $main-color--light;
    transform: scaleX(0);
    transition: transform 0.5s;
    margin: 2px 0;
  }

  .navbar {
    &__link {
      font-size: 3rem;
      position: relative;
      color: #000;
      text-decoration: none;
      margin: 10px 0;
      padding: 12px 80px;

      &::after,
      &::before {
        @extend %navbar-link;
      }

      &::after {
        bottom: 0;
        transform-origin: right;
      }

      &::before {
        top: 0;
        transform-origin: left;
      }

      &:hover::after,
      &:hover::before {
        transform: scaleX(1);
      }

      &._active {
        font-weight: bold;
      }
    }
  }
}

._active-header {
  .ncv-header {
    &__info {
      transition: color 0.3s ease-in-out;
      color: #fff;
    }

    &-burger {
      .ncv-header-burger__inner {
        transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: rotate(225deg);
      }
      .ncv-header-burger__inner::before {
        transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out;
        opacity: 0;
        top: 0;
      }
      .ncv-header-burger__inner::after {
        transition: top 0.4s ease-in-out, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        top: 0;
        transform: rotate(90deg);
      }
    }

    &__navbar {
      transform: translate(0, 0);
    }
  }
  .navbar {
    &__link {
      color: #fff;
    }
  }
}

.contacts {
  position: relative;
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: $main-color;
    left: 50%;
    top: -10px;
    transform: translate(-50%, -50%);
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 8px 12px;
    border-radius: 9px;
    transition: 0.2s ease-in-out;
    margin-left: 5px;

    &:hover {
      background: crimson;
      color: #fff;
      animation: shake 1.5s;
    }
  }
}

.material-icons {
  margin-right: 5px;
}

.ncv-main {
  grid-area: main;
  margin-top: 20px;
}

.skills {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__content {
    .skill {
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  &__content:not(:first-child) {
    display: flex;
    flex-direction: column;
  }
}

.work-experience {
  &__content {
    &-wrapper {
      &:last-child {
        margin-top: 20px;
      }
    }
    &-name {
      font-size: 2rem;
      font-weight: bold;
    }
    &-period {
      font-style: italic;
      margin: 5px 0;
    }
  }
}

.education {
  &__content {
    &-wrapper {
      &:last-child {
        margin-top: 20px;
      }
    }
    &-name {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 7px;
    }

    &-credential {
      display: inline-block;
      text-decoration: none;
      padding: 5px 6px;
      font-weight: 600;
      color: #000;
      transition: 0.2s ease-in-out;
      text-shadow: 0 5px rgba(196, 188, 162, 0.7);
      animation: pulse 2s infinite;
      border-radius: 25px;
      cursor: pointer;
      &:hover {
        background: crimson;
        color: #fff;
        border-radius: 25px;
      }
    }

    &-period {
    }
  }
}

// .credential-link {
//   text-decoration: none;
//   padding: 5px 6px;
//   font-weight: 600;
//   color: #000;
//   transition: 0.2s ease-in-out;
//   text-shadow: 0 5px rgba(196, 188, 162, 0.7);
//   animation: pulse 2s infinite;
//   border-radius: 25px;
//   &:hover {
//     background: crimson;
//     color: #fff;
//     border-radius: 25px;
//   }
// }

.portfolio {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 20px;
  }

  &__item-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    width: 100%;
    height: 200px;
    border: 6px solid #ccc;
    overflow: hidden;

    &:hover {
      .overlay__title {
        transform: translate(0, 0);
      }
      .overlay__content {
        transform: translate(0, 0);
      }
      .overlay__btn {
        transform: translate(0, 0);
      }
      .overlay::after {
        transform: translate(0, 0);
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;

  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    transform: translate(-500%, -500%) rotate(270deg);
    transition: transform 0.8s ease-in-out;
    z-index: 20;
  }

  &__content {
    margin: 10px 0;
    transform: translate(200%, -75%) rotate(800deg);
    transition: transform 0.7s cubic-bezier(0, 0.46, 0.82, 1.02);
    z-index: 20;
  }

  &__btn {
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #000;
    padding: 5px 7px;
    cursor: pointer;
    outline: none;
    transform: translate(300%, 350%) rotate(720deg);
    transition: transform 0.7s ease-in-out, background-color 0.4s ease-in-out;
    z-index: 20;

    &:hover {
      background-color: $main-color;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translate(-300px, 300px) rotate(360deg);
    transition: transform 0.5s 0.3s cubic-bezier(0.05, 0.62, 0.65, 1.14);
  }
}

.ncv-footer {
  max-width: 95%;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(231, 230, 230);

  &__content {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@mixin transformCreator($x, $y, $deg) {
  transform: translate($x, $y) rotate($deg);
}

/* Animation */
@keyframes shake {
  0% {
    @include transformCreator(1px, 1px, 0deg);
  }
  10% {
    @include transformCreator(-1px, -2px, -1deg);
  }
  30% {
    @include transformCreator(3px, 2px, 0deg);
  }
  50% {
    @include transformCreator(-1px, 2px, -1deg);
  }
  70% {
    @include transformCreator(3px, 1px, -1deg);
  }
  90% {
    @include transformCreator(1px, 2px, 0deg);
  }
}

@keyframes rainbowGradient {
  0% {
    background-color: red;
  }
  10% {
    background-color: orange;
  }
  20% {
    background-color: yellow;
  }
  40% {
    background-color: green;
  }
  60% {
    background-color: rgb(0, 0, 255);
  }
  80% {
    background-color: rgb(2, 2, 148);
  }
  100% {
    background-color: purple;
  }
}

@keyframes pulse {
  0% {
    text-shadow: 0 5px rgba(196, 188, 162, 0.4);
  }
  70% {
    text-shadow: 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    text-shadow: 0 3px rgba(204, 169, 44, 0);
  }
}
/* /Animation */
