doctype html
html(lang="en")
    head
        title About me
        include ./mixin.pug
    body
        +header("About me")
        .content__background
            div(class="container content")
                +contacts
                div(class="block")
                  p.block__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque autem doloremque doloribus nobis nostrum numquam officiis optio, quae tempora veniam voluptatum? Animi id odit pariatur quisquam, rem voluptas voluptatum?</span><span>A alias atque debitis deserunt dolorum ducimus, eligendi error eum exercitationem hic ipsa iusto laborum possimus quam quas, quisquam quo sapiente tempore tenetur, totam? Aliquid aperiam dolor impedit ratione voluptate.</span><span>Accusantium adipisci at doloribus, fugiat magni maiores mollitia nemo optio quaerat rem. Accusamus aperiam cumque ea porro. Dolorum explicabo id in libero, molestiae nihil, numquam officiis quia sint veritatis voluptates!</span><span>Alias amet corporis est et harum ipsam iure molestias, obcaecati pariatur perspiciatis, provident quaerat quas quidem quos reiciendis! Culpa cupiditate dignissimos dolorem dolores doloribus facilis mollitia necessitatibus nihil ullam ut.</span><span>Accusamus alias aperiam earum esse exercitationem natus nostrum numquam obcaecati odio, possimus quam quos sapiente, sit soluta sunt, suscipit vel. Dignissimos natus praesentium quia tempora voluptatibus? Exercitationem fuga in vitae.</span><span>Adipisci aliquid animi culpa dolore laboriosam libero numquam officia quo quod ratione recusandae, repudiandae sunt tempore vitae voluptate! Accusantium assumenda eligendi id nisi nobis non odit officiis rem unde vel?</span><span>Blanditiis est laudantium minus quos sint velit veniam voluptate. Adipisci alias aut autem consectetur delectus doloribus eum hic laboriosam laborum laudantium minus neque reiciendis similique sunt unde, velit vero? Consectetur?</span><span>Accusantium aspernatur assumenda atque aut commodi distinctio dolores ea eligendi est explicabo facilis fugit illo ipsam laboriosam magni nemo nesciunt obcaecati odio pariatur perspiciatis quae quisquam sequi similique, ullam vitae?</span><span>Accusantium alias animi aperiam asperiores at autem commodi consequuntur, cumque delectus eius, error fuga, iste iusto laudantium libero magnam magni maiores nisi obcaecati placeat praesentium provident quasi quis temporibus unde?</span><span>Ad animi deserunt esse itaque laudantium magnam quae quam quo suscipit temporibus? A ad asperiores dolor error eveniet hic in ipsam, laboriosam nostrum optio rerum sapiente! Alias consequuntur culpa tempora
        +footer
        button(class="btn__top" id="btn-top") Top
