.add-btn-container {
  width: 17.1%;
  margin: 20px;
}

.add-btn {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  border: 4px solid #5e217a;
  border-radius: 16px;
  background-color: transparent;
  cursor: pointer;
}

.add-btn:before,
.add-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 4px;
  background-color: #5e217a;
}

.add-btn:before {
  transform: translate(-50%) rotate(90deg);
}

.add-btn:after {
  transform: translate(-50%);
}

button:disabled {
  opacity: 0.3;
}

.refresh-btn {
  width: 320px;
  height: 40px;
  background: #5e217a;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .add-btn-container {
    width: 23%;
  }
}

@media (max-width: 768px) {
  .add-btn-container {
    width: 33%;
  }
}

@media (max-width: 580px) {
  .add-btn-container {
    width: 53%;
  }
}

@media (max-width: 400px) {
  .add-btn-container {
    width: 73%;
  }
}

@media (max-width: 320px) {
  .add-btn-container {
    width: 100%;
  }
}
