.side {
  background-color: var(--main-bg-color-alt);
  padding: 1rem 3rem 1rem 2rem;
  text-align: end;
  grid-area: aside;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;

  &__humburger-toggle {
    display: none;
  }

  &__humburger-icon {
    display: none;
  }

  &__humburger-icon {
    width: 35px;
    height: 4px;
    position: relative;
    background-color: var(--main-bg-color);
    margin-bottom: 5px;
  }

  &__humburger-icon:hover {
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) ease;
  }
}

.side-list {
  &__outer > li {
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 1.2rem;
  }

  &__inner > li {
    text-transform: capitalize;
    margin: 0.7rem 0 0 1.5rem;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }

  &__email {
    text-transform: lowercase;
  }
}
