// Menu
.sidenav {
  &__real-menu {
    position: fixed;
    top: 0;
    left: -200vw;
    z-index: 41;
    width: 200vw;
    height: 100%;
    padding: 0.5rem 1rem;
    box-shadow: 0 6px 12px rgba(107, 82, 82, 0.3);
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: ease 0.2s all;
  }

  &__open-menu-btn {
    display: none;
    width: 50px;
  }
}

body {
  &.menu-open {
    .sidenav__overlay {
      display: block;
    }
  }

  &.menu-open {
    .sidenav__real-menu {
      left: 0;
    }
  }
}
